{% extends "layout.html" %}

{% block body %}

<h3>Makaleler</h3>
<hr>
{% if articles %}

    <form action="/search" method = "post">
    <input type="text" name= "keyword" id="form1" class="form-control" placeholder="Ara..."/> <!--in bootsnipp /bootstrap--> <!--name = keyword formda ki bilgiyi tutar-->
    <button type="submit" class="btn btn-danger" >Search</button> <!--type submit olursa başka sayfaya yönlendirme yapabilirsin-->
    </form>
    <hr>

    <ul class="list-group">
    {% for article in articles %}
        <li class = "list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li>
    {% endfor %}
    </ul>

    {% else %}
        <div class = "alert alert-danger">Bu blokta henüz makale bulunmuyor</div>
    {% endif %}

{%endblock body%}