{%extends "layout.html" %}


{% block body %}
{% from "includes/formhelpers.html" import render_field %}
{%if article %}

<h4>{{article.title}}</h4>
<hr>
Author : {{article.author}}
<hr>
Date: {{article.created_date}}
<hr>
Content : {{article.content | safe}} <!-- |If you type safe, what you create with CKEditor will not appear as HTML code. -->
{%else %}

<div class="alert alert-warning">There is no such article</div>

{%endif %}

<form method="post" >
<hr>
<h2><font color="green"> Comment </font></h2>
{{ render_field(form.commentTitle, class="form-control" ) }}
{{ render_field(form.comment, class="form-control" ) }}
<button class="btn btn-primary" type="submit">Send</button>
<hr>
</form>

<h4><font color="gray"> Comments </font></h4>

{%if comments %}
{%for comment in comments%}
Author : {{comment.name}}
Date: {{comment.comment_date}}
{{comment.comment_title}}
{{comment.comment}}
<hr>
{%endfor%}
{%endif %}
{% endblock body %}