<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anasayfa</title>
</head>
<body>
    <h3>Anasayfa</h3>
    <p>Burası paragraftır</p>

    <h3>Sayı</h3>
    <p>{{number}}</p>
    <p>{{number2}}</p>
    <p>{{article.title}}</p>
    <p>{{article.body}}</p>
    <p>{{article.author}}</p>
</body>
</html>